<%- include('./layouts/header.ejs') %>

<div>
  <div>
    <h2>Student Management System</h2>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Place</th>
          <th scope="col">Standard</th>
          <th scope="col">Medium</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include('./layouts/footer.ejs') %>